@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */

html {
    transition: background-color 0.4s ease, color 0.4s ease;
  }
  
  body, .bg-gray-100, .bg-gray-900, .text-gray-900, .text-gray-200, .bg-white, .bg-gray-800 {
    transition: background-color 0.4s ease, color 0.4s ease;
  }

  /* Dark mode styles for React Quill */
.quill-dark .ql-toolbar {
  background-color: #1f2937;
  border-color: #374151;
}

.quill-dark .ql-container {
  background-color: #1f2937;
  border-color: #374151;
}

.quill-dark .ql-editor {
  color: white;
}

.quill-dark .ql-stroke {
  stroke: #9ca3af;
}

.quill-dark .ql-fill {
  fill: #9ca3af;
}

.quill-dark .ql-picker {
  color: #9ca3af;
}
  
